[Desktop Entry]
Encoding=UTF-8
Name=viptocoin
Comment=viptocoin P2P Cryptocurrency
Comment[fr]=viptocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=viptocoin, eşten eşe kriptografik sanal para birimi
Exec=viptocoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/viptocoin;
Categories=Office;Finance;
