[Unit]
Description=viptocoin's distributed currency daemon
After=network.target

[Service]
User=viptocoin
Group=viptocoin

Type=forking
PIDFile=/var/lib/viptocoind/viptocoind.pid

ExecStart=/usr/bin/viptocoind -daemon -pid=/var/lib/viptocoind/viptocoind.pid \
          -conf=/etc/viptocoin/viptocoin.conf -datadir=/var/lib/viptocoind

ExecStop=-/usr/bin/viptocoin-cli -conf=/etc/viptocoin/viptocoin.conf \
         -datadir=/var/lib/viptocoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
